[submodule "app/story"]
	path = app/story
	url = https://bitbucket.org/despairblue/nick-skelleton.git
[submodule "app/assets/gameassets"]
	path = app/assets/gameassets
	url = https://bitbucket.org/despairblue/nick-assets.git
